  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li>
          <a href="/">Return Home</a>
        </li>
      </ul>
    </div>
  </nav>
  <a class="waves-effect waves-light btn-large" href="/">To Movies Page</a>